# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Variáveis de ambiente
.env


# Docker/Compose
docker-compose.override.yml

# Logs e temporários
*.log
*.tmp